NEXT_PUBLIC_SUPABASE_URL=https://jqyjvhwlcqcsuwcqgcwf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_wbUnoInIRnNFIxVLiIRvXw_qOp5_9Ec
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3000
